body{
    width: 400px;
    border-color: 2px solid red;
    border-radius: 3px;
    margin: 10px;
}

.setting-item{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 25px;
    padding: 8px;
}
.btn-start-recording{
    background-color: rgb(0, 0, 95);
    color: white;
}